.body{
    background-color: hsl(30, 38%, 92%) ;
    display: table-cell;
}
.div1{
    display: table;
    background-color: hsl(0, 0%, 100%);
    width: 35%;
    margin-left: 10cm;
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-right:  10cm;
    border-radius: 2%;
    padding-right: 10px;
}
.d2{
    height: 354px;
    width: 235px;
    margin-right: 10px;
}
img{
    height: auto;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    padding-right: 20px;
    margin: 0;
    border-radius: 2%;
}
#text{
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 7px;
}
#p{
    font-size: 11px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
button{
    text-align: center;
    display: flex;
    background-color:darkgreen;
    color: white;
    border: none;
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 15px, 32px;
    height: 40px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
}
button:hover{
    background-color: lime;
    cursor: pointer;
} 
.h1{
color:hsl(158, 36%, 37%);
font-family: 'Fraunces', serif;
}
.h{
    color:hsl(212, 21%, 14%) ;
    font-family: 'Fraunces', serif;
}
.sec{
    display: table;
}
.p{
    vertical-align: middle;
    display: table-cell;
}
.pp{
    padding: 20px;
    font-size: 11px;
    vertical-align: middle;
    display: table-cell;
    color: hsl(228, 12%, 48%);
}
#imm{
    height: 15px;
    width: 15px;
    padding-top: 0px;
}